<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.11.2" targetFramework="net47" />
  <package id="Grpc.Core" version="2.26.0" targetFramework="net47" />
  <package id="Grpc.Core.Api" version="2.26.0" targetFramework="net47" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net47" />
  <package id="System.Interactive.Async" version="4.0.0" targetFramework="net47" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net47" />
  <package id="Tron.Net.Protocol" version="3.6.6" targetFramework="net47" />
</packages>